<p id="notice"><%= notice %></p>

<p>
  <b>Accountsid:</b>
  <%= @text_msg.AccountSid %>
</p>

<p>
  <b>Body:</b>
  <%= @text_msg.Body %>
</p>

<p>
  <b>Tozip:</b>
  <%= @text_msg.ToZip %>
</p>

<p>
  <b>Fromstate:</b>
  <%= @text_msg.FromState %>
</p>

<p>
  <b>Tocity:</b>
  <%= @text_msg.ToCity %>
</p>

<p>
  <b>Smssid:</b>
  <%= @text_msg.SmsSid %>
</p>

<p>
  <b>Tostate:</b>
  <%= @text_msg.ToState %>
</p>

<p>
  <b>To:</b>
  <%= @text_msg.To %>
</p>

<p>
  <b>Tocountry:</b>
  <%= @text_msg.ToCountry %>
</p>

<p>
  <b>Fromcountry:</b>
  <%= @text_msg.FromCountry %>
</p>

<p>
  <b>Smsmessagesid:</b>
  <%= @text_msg.SmsMessageSid %>
</p>

<p>
  <b>Apiversion:</b>
  <%= @text_msg.ApiVersion %>
</p>

<p>
  <b>Fromcity:</b>
  <%= @text_msg.FromCity %>
</p>

<p>
  <b>Smsstatus:</b>
  <%= @text_msg.SmsStatus %>
</p>

<p>
  <b>From:</b>
  <%= @text_msg.From %>
</p>

<p>
  <b>Fromzip:</b>
  <%= @text_msg.FromZip %>
</p>


<%= link_to 'Edit', edit_text_msg_path(@text_msg) %> |
<%= link_to 'Back', text_msgs_path %>
